.back__to__home {
    position: absolute;
    left: 5px;
    top: 10px;
}

.coin__wrapper {
    background-image: url(../assets/image/coin-bg.jpg);
    background-size: cover;
    background-position: center;
}